*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
    background-color: #0f0f0f;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;   
    justify-content: center;
}

#cursor{
    height: 22px;
    width: 22px;
    background-color: #fff;
    color: #111;
    border-radius: 50%;
    font-size: 6px;
    position: fixed; 
    display: flex;
    align-items: center;   
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 9;
}

#image{
    height: 30vw;
    width: 70vw;
    background-color: coral;
    position: relative;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.btn {
    padding: 12px 30px;
    position: relative;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

.btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

.btn:hover::before,
.btn:hover::after {
    transform: scale(0);
}

.btn:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
    letter-spacing: 1px;
}