@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background: #222;
    display: flex;
    align-items: center;    
    justify-content: center;    
}
a{
    text-decoration: none;
}
.link{    
    width: 80vw;
    padding: 60px;    
    margin: auto auto;   
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btn{    
    padding: 12px 30px;
    position: relative;    
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
}
.btn::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}
.btn::before{
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

.btn:hover::before,
.btn:hover::after{
    transform: scale(0);
}

.btn:hover{
    box-shadow: inset 0px 0px 25px #1479EA;
    letter-spacing: 1px;
}
