/* inspiration animation with below link */
/* https://www.brandium.nl/ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
    background-color: #0f0f0f;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: chocolate;
    margin-top: 200px;
}
#staring{
    /* background-color: red; */
    height: 200px;
    width: 100%;
}

