 /* inspiration animation site */
 /* https://wethinkelastic.com/ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#box1{
    height: 100%;
    width: 100%;
    background: #08D9D6;
    color: #252A34;   
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 60px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 2px;
}
#box2{
    height: 100%;
    width: 100%;
    background: #252A34;    
}
#box2 h1{
    font-size: min(51vw,82vh);
    font-weight: bold;
    text-transform: uppercase;    
    /* text-indent: -4vw;
    letter-spacing: -2vw;
    line-height: 0.8;
    padding: 0 8vw;s    
    white-space: nowrap; */
}

#box3{
    height: 100%;
    width: 100%;
    background: #FF2E63;  
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
}


